<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="Balwinder Sodhi" />
  <title>
    {% block title %}Book data scraper{% endblock %}
  </title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  {% block head %}{% endblock %}
</head>

<body>
  <div id="nav">
    {% block nav %}
    {% endblock %}
  </div>

  <div id="main" class="container">
    {%if error%}
    <span class="alert alert-warning">{{error}}</span>
    {%endif%}
    {% block main %}
    <form action="{{ url_for('login') }}" method="POST">
      Login ID: <input name="login_id" type="text" /><br /><br />
      Password: <input name="password" type="password" /><br />
      <button type="submit">Login</button>
    </form>
    {% endblock %}</div>
</body>

</html>