{% extends "secure_base.html" %}
{% block title %}HOME{% endblock %}
{% block main %}
<div class="card">
  <div class="card-header">
    Submit a task
  </div>
  <div class="card-body">
    {% if pids|length > 0 %}
    <p>There are {{pids|length}} <a href="status">existing tasks</a>.
      Please wait for them to finish, or you can delete them <a href="status">here</a>. </p>
    {% else %}
    <form action="start" method="POST">
      <div class="form-group">
        <label for="maxrec">Max. No. of books:</label>
        <input type="number" name="max_rec" class="form-control" id="maxrec" aria-describedby="maxrecHelp" required>
        <small id="maxrecHelp" class="form-text text-muted">
          The maximum number of books to fetch for each query genre.
        </small>
      </div>
      <div class="form-group">
        <label for="genres">Genre list:</label>
        <input type="text" name="query" class="form-control" id="genres" aria-describedby="genresHelp" required>
        <small id="genresHelp" class="form-text text-muted">
          A comma-separated list of genre names Example: <span
            class="text-monospace">Spirituality, Sikhism, Bible</span>.
        </small>
      </div>
      <div class="form-group">
        <label for="timeout">HTTP timeout (in s):</label>
        <input type="number" name="timeout" class="form-control" id="timeout" aria-describedby="timeoutHelp" value="10" required>
        <small id="timeoutHelp" class="form-text text-muted">
          HTTP timeout in seconds for scraping requests to Goodreads. Default is 10s.</span>
        </small>
      </div>
      <div class="form-group">
        <label for="ucb">Do NOT use cached books:
          <input type="checkbox" name="dont_ucb" class="form-control" id="ucb" aria-describedby="ucbHelp">
        </label>
        <small id="ucbHelp" class="form-text text-muted">
          Check this box if you want to re-download the Goodreads books information. Normally, the books information do
          not change frequently, so try to avoid
          checking this box unless you really want to re-download. It will also make it
          slower to process your request.
        </small>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% endif %}
  </div>
</div>

{% endblock %}