{% extends "base.html" %}

{% block nav %}
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
    <img src="/static/img/logo.png" width="30" height="30" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/signup">Signup</a>
    </div>
  </div>
</nav>
{%endblock%}
{% block main %}

<div class="container d-flex justify-content-center align-self-center">
    <form class="form-signin" action="/login" method="POST">
        <img class="mb-4" src="/static/img/logo.png" alt="" width="72" height="72" />
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="loginId" class="sr-only">Login ID</label>
        <input id="loginId" name="login_id" type="text" class="form-control mb-2" placeholder="Login ID" required autofocus />
        <label for="inputPassword" class="sr-only">Password</label>
        <input name="password" type="password" id="inputPassword" class="form-control mb-2" placeholder="Password" required />
        <button class="btn btn-lg btn-primary btn-block" type="submit">
            Sign in
        </button>
        <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
    </form>
</div>
{% endblock %}