{% extends "secure_base.html" %}
{% block title %}Tasks Status{% endblock %}

{% block main %}
<div class="card">
  <div class="card-header">
    Tasks status
  </div>
  <div class="card-body">
    {% if not data %}
    <p>No results available.</p>
    {% else %}
    <p>
      Contents of the task output folders is listed below. 
      You can view or download the files by clicking on respective links.</p>
    <p>
      Please check the <span class="font-weight-bold text-monospace">task.log</span> file in
      respective folder to see the status of a submitted task.
    </p>
    {% endif %}
    <ul class="list-group">
    {%- for item in data %}
      <li class="list-group-item">
          Task submitted at: {{item["folder_label"]}} HRS  
          <span class='badge {% if item["status"] == "RUNNING" %}badge-danger{% else %}badge-info{% endif %}'>{{item["status"]}}</span>
          <a class="ml-4 btn btn-sm btn-danger" 
          href='clear/{{item["folder"]}}'onclick="return confirm('Are you sure?')">Delete</a>
        <ul>
          {%- for ff in item["files"] %}
            <li>
              <a href='{{ item["folder"]+"/"+ff.split("/")[-1] }}'>{{ "".join(ff.split("/")[-1:])  }}</a></li>
          {%- endfor %}
        </ul>
      </li>
    {%- endfor %}
    </ul>
  </div>
</div>

{% endblock %}